* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    @include ubuntu(light);
}

html, body {
    height: 100%;
}

.container {
    width: 940px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

table {
     border-collapse: collapse;
     border-spacing: 0;
}